<html>
	<body>
		<h1>Hello! {% if username %} {{ username }} {% endif %}</h1>
		{% if not username %}
		<p>to view a users timeline go to /?username=<b>username</b></p>
		<p><a href="/?username=Kyle">example</a></p>
		<p>Posts can be found <a href="/posts">here</a></p>
		<p>Users and there follows can be found <a href="/users">here</a></p>
		{% else %}
		<p>Your timeline:</p>
		<ul>
			{%for status in ordered_posts%}
			<li>
				<p style="font-size: 20px">{{ status[0] }}</p>
				- <a href="{{'/?username=%s'%status[1][1]}}">{{status[1][1]}}</a> -
				{{status[1][0]}}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</body>
</html>
